.App {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.txt-left {
  text-align: left;
}

.img-10 {
  width: 10%;
  height: 10%;
}

.pointer {
  cursor: pointer;
}

.common-table, th, td {
  border: 1px solid black;
}